.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    width: 100vw;
    height: 65px;
    padding: 10px 20px 10px 20px;
    
    background-color: rgb(0,35,155);
    color: white;

    h1 {
        margin-right: 50px;
        font-weight: 400;
        font-size: 25px;
    }

    .type-toggle {
        display: flex;
        background-color: rgb(115, 190, 220);
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex: 1;
            padding: 10px;
        }

        .selected {
            background-color:  rgb(90, 175, 210);
            box-shadow: 0px 0px 10px rgb(67, 130, 156) inset;
        }
    }
}